*{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
  }
  h2{
    font-size: 1.7em;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: .7px;
    margin-top: 0;
  }
  h3{
    font-size: 1.3em;
    font-weight: 400;
    margin: 10px 0;
  }
.clearfix{
  clear: both;
}
nav{
  background-color: #C12127;
  color: rgba(255,255,255, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
nav a{
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
}
.top-left{
  display: inline;
  margin: 0 10px 0 10px;
}
.top-links{
  float: right;
  padding: 0;
}
.top-links li{
  display: inline-block;
  margin: 0 10px 0 10px;
}
header{
  background: url("images/city-scape.svg") no-repeat right bottom;
  background-color:  rgb(32,101,136);
  background-size: cover;
  width: 100%;
  padding-bottom: 150px;
}
.search-container-sign{
  color: white;
  height: 40px;
  float: left;
}
.search-container{
  padding: 20px 0;
  margin: 0 15px;
  height: 40px;
  width: 100%;
}
.sign-up{
  float:left;
  padding: 10px;
  margin: 0 auto;
}
.search-bar{
  background-color: rgb(31, 82, 111);
  border: 1px solid rgb(204, 204, 204);
  width: 95%;
  height: 20px;
  padding: 10px;
  outline: none;
}
.search-button{
  background: inherit;
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  color: rgba(255,255,255,.8);
  border: 0px;
  border-left: 1px solid rgba(255,255,255,.2);
  position: relative;
  top: 3px;
  right: 44px;
}
header .search-container .npm-logo{
  height: 40px;
  width: 9%;
  margin: 5px 0 5px 0;
  float:left;
}
.search-bar-container{
  float: left;
  width: 75%;
  margin: 0 10px 0 10px;
}

.header-link{
  color:white;
  text-decoration: none;
}
.bear-logo{
  height: 40px;
  margin: 10px 0 0 0;
  float: right;
}
.container{
  width: 475px;
  margin: 0 auto;
}
.header-text {
  margin-top: 40px;
  margin-left: 300px;
}
.header-item{
  color: white;
  margin: 20 0 20 0;
}
.btn{
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0 5px 0;
  width: 150px;
  border-radius: 20px;
  text-align: center;
}
.sign-up-btn{
  background: rgb(240, 146, 51);
}
.collab-background{
  background: rgb(39, 53, 71);
  padding: 10px 0 10px 0;
  height: 100%;
}
.div-collaboration{
  width:1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
}
.collab-image{
  width: 400px;
}
.collab-content{
  color:white;
  width: 475px
}

.orgs-btn{
  background: rgb(203, 56, 55);
}
.learn-orgs{
  color: white;
  text-decoration: none;
}
#what-is{
  position: relative;
  background: url('./images/forklift.svg');
  background-position: 0,0;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}
.what-is-text{
  color: white;
  position: absolute;
  width: 18%;
  padding-left: 25%;
  padding-top: 150px;
}
.install-btn{
  background: rgb(49,68,88);
}
.forklift{
  position:absolute;
}

#building{
  background: white;
  width: 100%;
  padding: 20px 0 20px;
}
.building-heading{
  display: flex;
  flex-flow: column;
}
.heading{
  color: rgb(83,88,98);
  margin: 0 auto;
}
.secondary{
  color: rgb(135,145,156);
  margin: 0 auto;
}
.link{ 
  color: rgb(208,74,73);
  text-decoration: none;
}
.building-articles{
  width: 450px;
  margin: 0 auto;
  padding: 75px 0;
}
.col{
  float: left;
  display:flex;
  flex-flow: column;
  width: 100px;
}
.col-mid{
  margin: 0 5% 0 5%;
}
.col-3{
  box-sizing: content-box;
  width: 30%;
}
